<!DOCTYPE html>

<html lang="en"> 
  <head>
    <title>WPNServices | Who We Are</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href= "../public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&amp;family=Libre+Baskerville&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&family=Quicksand:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <!--ALL LINKS INSIDE FOR THE WEBSITE-->
    <meta charset="utf-8">
    <meta name="author" content="Kenechukwu Okoli/(kenokoli100@gmail.com)">
    <meta name="description" content="About Worcester Physicans and Nursing Services. What we do and who we are">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--stlying for navs in general-->
    <style>
      
      a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    font-weight: 525;}

      a:link {
 color: whitesmoke;
 text-decoration: none;}

      a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;}
 
      a:hover{
    color: rgb(245, 245, 245);
    text-decoration:none;  }
     
      a:active{
    color: rgb(245, 245, 245);
    text-decoration: none;}
 
  </style>
      
    </head>

    <body>
    <header>
    <%- include('templates/header.ejs'); -%>
     </header>

    <div class="col-md-12 green-top">
      <p>safvujhfvdshdv</p>
    </div>
    <!--BIG CONTAINER-->
    <div class="container d-flex flex-wrap body-wrapper">
    <!--BIG CONTAINER--> 

    <!--CONTENT FULL WIDTH THING I'M PRETTY SURE I NEED BUT I HAVE TO LOOK UP AGAIN-->
    <div id="content" class="col content content-fullwidth">
    <!--CONTENT FULL WIDTH THING I'M PRETTY SURE I NEED BUT I HAVE TO LOOK UP AGAIN-->
    <main>
     <div class="container-fluid">
      <a class="card border mb-3 pocket" style="padding: 50px;">
     <div class="row text-center">
     <div class="col-md-12">
     <h1 style="font-family: 'News Cycle'; font-size: 3rem;
     word-spacing: 1px;letter-spacing: 1.5px;">Who we are</h1>

     <p>Worceser physicians and nurses services is an adult primary care and geriatrics practice providing affordable care by virtual and in-person visits. 
        Our providers are made up of U.S board - certified
       internists, geriatricians and nurse practitioners.<br><br>

       Our practice provides comprehensive physicals and geriatric assessments, annual wellness exams,
       episodic follow up visits and urgent visits. We are able to provide house calls and are available by phone
       or video for electronic consultations and visits. 
       After hours visits are available.<br><br>

       The practice is affiliated with all the University of Massachusetts (UMass) hospitals in Worcester and we
        work collaboratively with UMass specialists in all the available departments such as Cardiology, lung and 
        allergy, Orthopedics, dermatology to provide comprehensive care to our patients. We are also able to refer
        our patients to specialists outside this network if a patient prefers this. 
       <br><br>
        We also work with residential facilities such as nursing homes, rehabilitation centers and assisted living
        facilities, their ancillary services such as nursing/home care agencies, lab services, rehab/ therapy team
         and wound care specialists to provide the most comprehensive care possible.



      </p>
     </div>
     </div>
     </a>
     </div>
      </div>
      </div>
    </main>
      
    <footer>
      <!--Container part of the Footer-->
     <div class="container-fluid padding">
      <div class="row text-center">
       <!-- LOGO PART WITH INFO,Number, email, location-->
        <div class="col-md-4">
          <img src="../public/assets/LogoMakr_5iAESO.png" class="img-fluid">
          <hr class="light">
          <p>508-556-1072</p>
          <p>email@myemail.com</p>
          <p>111 Elm St</p>
          <p>Worcester, Massachuttests, 01609</p>
        </div>
       <!--Navigation part of the Footer-->
      
        <div class="col-md-4">
          <hr class="light">
          <h5>Explore WPNS</h5>
          <hr class="light">
          <p><a href="">Virtual Visits</a></p> 
          <p><a href="">In-Office Visits</a></p> 
          <p><a href="">About Us</a></p> 
          <p><a href="">Contact</a></p> 
          <p><a href="index.html">Home</a></p> 
        </div>
      
        <div class="col-md-4">
          <hr class="light">
          <h5>Patient Resources</h5>
          <hr class="light">
          <p><a href="">Request Medical Records</a></p> 
          <p><a href="">In-Office Visits</a></p> 
          <p><a href="">About Us</a></p> 
        </div>
        <div class="col-12">
           <hr class="light">
           <h6>&copy; 2020 WPNServices</h6>
           <span><a class="footer-anchor-style" href="">Terms &amp; Conditions</a></span>
           <br>
           <span><a class="footer-anchor-style-2" href="">Privacy Policy</a></span>
        </div>
      </div>
    </div>
  </footer> 
    
     
     
    </body>
</html>

