<!DOCTYPE html>
 <html class="en">
  <head>
    <title>WPNServices | Virtual-Visits </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href= "../public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&amp;family=Libre+Baskerville&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&family=Quicksand:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <!--ALL LINKS INSIDE FOR THE WEBSITE-->
    <meta charset="utf-8">
    <meta name="description" content=" Fill out  and Schedule a virtual visit. An email detailing avability, a google meet ID and pricing will be snet to you accordingly"
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--stlying for navs in general-->
    <style>
      
      a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    font-weight: 525;}

      a:link {
 color: whitesmoke;
 text-decoration: none;}

      a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;}
 
      a:hover{
    color: rgb(245, 245, 245);
    text-decoration:none;  }
     
      a:active{
    color: rgb(245, 245, 245);
    text-decoration: none;}

    /* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  
  
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.roww:after {
  content: "";
  display: table;
  clear: both;
}
 
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
  </head>
    <body>
    
        <header>
       <%- include('templates/header.ejs'); -%>
        </header>

        <div class="col-md-12 green-top">
             <p>safvujhfvdshdv</p>
        </div>

        <br>
        <div class="roww">
        <!--BIG CONTAINER-->
        <div class="container d-flex flex-wrap body-wrapper">
        <!--BIG CONTAINER--> 
  
        <!--CONTENT FULL WIDTH THING I'M PRETTY SURE I NEED BUT I HAVE TO LOOK UP AGAIN-->
        <div id="content" class="col content content-fullwidth column left ">
          <!--CONTENT FULL WIDTH THING I'M PRETTY SURE I NEED BUT I HAVE TO LOOK UP AGAIN-->
          
          <main class="col-lg-11 order-lg-2 card " >
          <div class="row">
           <div class="col-content">
             <article>

               <div class="title1"> 
               <h1 class="title-border">Virtual Visits</h1>
               </div>

               <div class="date text-center">
                <p style="margin-bottom: 0mm;"> July 20, 2020</p>
               </div>
              
               <div class="container-fluid margin-virtual">
                <div class="row text-center">
               <div class="col-md-12">
               <a class="paragraph card-unique">
               <p> Schedule a video or telephone appointment- <br>conducted using your smartphone, tablet or computer 
                  <br>
                Urgent medical issues- get Instant Access to Urgent Services 
                  <br>
                Request medication refills from your Electronic Device.</p>
               </a>
               </div>
              </div>
              </div>

               <div class="container-fluid margin-virtual">
               <div class="row text-center">
                <div class=" head col-md-12">
                 <h2>Common conditions treated by virtual visits</h2>
                </div>
               </div>
              </div>
              

              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                  <ul class="check-list" style="float: left;">
                    <li>Acne</li>
                    <li>Allergies</li>
                    <li>Back strain/ discomfort</li>
                    <li>Cold and upper respiratory infections</li>
                    <li>Cough and sore throat</li>
                    <li>Conjunctivitis (Pink Eye)</li>
                    <li>Constipation</li>
                    <li>Influenza (the Flu)</li>
                    <li>Insect bites</li>
                  </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="check-list" style="float: left;">
                      <li>Minor burns, Cuts and Scrapes</li>
                      <li>Men’s issues & Women's issues</li>
                      <li>Nausea and vomiting </li>
                      <li>Yeast Infections </li>
                      <li>Rashes</li>
                      <li>Difficulty or pain with urinating</li>
                      <li>STDs</li>
                      <li>Stress</li>
                      <li>Sinus infections </li>
                    </ul>
                    </div>
                </div>
              </div>
             </article>
             <article>
               <br>
               <br>
               <div class="container-fluid">
                 <div class="row text-center">
                   <div class="col-md-12">
                     <h5 class="warning">If you have a life threatening illness or emergency, 
                       do not call or schedule a visit with us. Dial 911 for 
                       your local emergency response team to be set to the nearest emergency department </h5>
                     </div>
                   </div>
                 </div>
                 <br>
                 <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="warning">PAY BILL</h5>
                      <p style="font-size:11px;">With insurance- we accept all major insurances including Aetna, Blue cross blue shield, Fallon Community health plans,Medicare, Masshealth/Medicaid, Tufts, Harvard Pilgrim, Health New England, Senior Whole Health. Copayments may apply.

                        Can’t find your insurance, no worries. A virtual visit session costs $50 payable by credit card
                        
                        Without insurance- a virtual visit session cost $50. Follow the link to make a payment </p>
                      </div>
                    </div>
                  </div>
                </article>
               </div>
            </div>
          </main>
          </div>
        
          
          
          <main class="col-lg-3 order-lg-1 leftnav-wrapper column right card0" style="margin-top: 0.6rem; ">
          <div class="container-fluid card0  ">
          <div class="row text-center">
          <div class="col-md-12 example">
          <article class="card3" >
          <h3 class="font-fix">Schedule A Visit</h3>
          <p class="font-fix2">Fill out your contact information and Reason for visit. We will schedule a virtual visit.<br>
          Once sent an office staff will be in touch with you via email to set up your video visit or telephone visit</p>
          </div>
          </div>
          </div>

          <!--Here is the FORM!!!!!-->
          <form>
            <div class="form-group">
              <label>Name</label>
              <input type="name" class="form-control" id="name" placeholder="name">
            </div>

            <div class="form-group">
              <label>Enter Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>

            <div class="form-group">
              <label>Select A Day</label>
              <select class="form-control" id="Select1">
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
              </select>
            </div>

              
            <div class="form-group">
              <label>Select A Time</label>
              <select  class="form-control" id="Select2">
                <option>9:00 AM</option>
                <option>11:00 AM</option>
                <option>1:00 AM</option>
                <option>3:00 AM</option>
                <option>5:00 AM</option>
              </select>
            </div>
            <div class="form-group">
              <label>Reason For Visit </label>
              <textarea class="form-control" id="Text" rows="3"></textarea>
            </div>
          
          <button type="submit" class="btn btn-primary submit" id="dodo" value="Submit">Submit</button>
          </form>
          </main>
         
        </div>
        </div>
        </div>
        


        <footer>
          <!--Container part of the Footer-->
         <div class="container-fluid padding">
          <div class="row text-center">
           <!-- LOGO PART WITH INFO,Number, email, location-->
            <div class="col-md-4">
              <img src="../public/assets/LogoMakr_5iAESO.png" class="img-fluid">
              <hr class="light">
              <p>508-556-1072</p>
              <p>email@myemail.com</p>
              <p>111 ELM St</p>
              <p>Worcester, Massachuttests, 01609</p>
            </div>
           <!--Navigation part of the Footer-->
          
            <div class="col-md-4">
              <hr class="light">
              <h5>Explore WPNS</h5>
              <hr class="light">
              <p><a href="">Virtual Visits</a></p> 
              <p><a href="">In-Office Visits</a></p> 
              <p><a href="">About Us</a></p> 
              <p><a href="">Contact</a></p> 
              <p><a href="index.html">Home</a></p> 
            </div>
          
            <div class="col-md-4">
              <hr class="light">
              <h5>Patient Resources</h5>
              <hr class="light">
              <p><a href="">Request Medical Records</a></p> 
              <p><a href="">In-Office Visits</a></p> 
              <p><a href="">About Us</a></p> 
            </div>
            <div class="col-12">
               <hr class="light">
               <h6>&copy; 2020 WPNServices</h6>
               <span><a class="footer-anchor-style" href="">Terms &amp; Conditions</a></span>
               <br>
               <span><a class="footer-anchor-style-2" href="">Privacy Policy</a></span>
            </div>
          </div>
        </div>
      </footer>
     <script src="../public/assets/main.js"></script>
    </body>
</html>