<div class="navv">
    <img class= "title img-fluid"  src="../../public/assets/LogoMakr_5iAESO.png">
  
<nav>
    <ul>
    <li><a href="../Virtual">Virtual Visits</a></li>
    <li><a href="../In-Office">In-Office Visits</a></li>
    <li><a href="../About">About Us</a></li>
    <li><a href="../contact">Contact</a></li>
    <li><a href="../index">Home</a></li>
   </ul>
 </nav>
</div>